<%- include('../partials/_header') %>
    <title>Watchlist</title>
</head>
<body>
    <%- include('../partials/_navbar') %>
    <% if (!activeWatchlist) { %>
    <h1 class="is-size-3">Watchlist</h1>
    <a href="/watchlist/new" class="button is-link">+ Create watchlist</a>
    <% } %>

    <% if (watchlists) { %>
    <h2 class="is-size-4">Overview</h2>
    <% watchlists.forEach(list => { %>
        <p><a href="/watchlist?id=<%= list._id %>"><%= list.name %></a></p>
    <% }); %>
    <% } %>

    <% if (activeWatchlist) { %>
    <p><a href="/watchlist">Back to Watchlists</a></p>
    <% if (activeWatchlist.edit) { %>
        <form action="/watchlist/<%= activeWatchlist._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= activeWatchlist.name %>" class="input is-normal" />
            <button type="submit" class="button is-link">update</button>
        </form>
    <% } else { %>
        <h1 class="is-size-3"><%= activeWatchlist.name %></h1>
    <% } %>
    <div>
        <a href="/watchlist?id=<%= activeWatchlist._id %>&edit=true">edit</a>
        <a href="/watchlist/<%= activeWatchlist._id %>/remove">remove</a>
    </div>
    <section class="section">
        <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Day Change</th>
                <th>Day Change %</th>
            </tr>
        </thead>
        <tbody>
        <% activeWatchlist.stocks.forEach((stock) => { %>
            <tr>
                <td>
                    <div class="symbol-and-image">
                        <img src="<%= stock.image %>" alt="logo for <%= stock.companyName %>" class="image is-16x16"/>
                        <a href="/stock/<%= stock.symbol %>"><%= stock.symbol %></a>
                    </div>
                </td>
                <td><%= stock.price %></td>
                <td><%= (stock.change).toFixed(2) %></td>
                <td><%= (stock.changePercentage).toFixed(2) %></td>
                <% if (activeWatchlist.edit) {%>
                    <td>
                    <form action="/watchlist/<%= activeWatchlist._id %>/remove?id=<%= stock._id %>&_method=PUT" method="POST">
                        <button class="delete" type="submit"></button>
                    </form>
                    </td>
                <% } %>
            </tr>
        <% }) %>
        </tbody>
    </table>
    </section>
    <% } %>

    <% if (stocks) { %>
    <section class="section">
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Price</th>
                    <th>Day Change</th>
                    <th>Day Change %</th>
                </tr>
            </thead>
            <tbody>
            <% stocks.forEach((stock) => { %>
                <tr>
                    <td>
                        <div class="symbol-and-image">
                            <img src="<%= stock.image %>" alt="logo for <%= stock.companyName %>" class="image is-16x16"/>
                            <a href="/stock/<%= stock.symbol %>"><%= stock.symbol %></a>
                        </div>
                    </td>
                    <td><%= (stock.price).toFixed(2) %></td>
                    <td><%= (stock.change).toFixed(2) %></td>
                    <td><%= (stock.changePercentage).toFixed(2) %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </section>
    <% } %>

    <% if (!stocks && !activeWatchlist) { %>
    <p><a href="/search">Search</a> for stocks and add to your watchlist(s).</p>
    <% } %>
</body>
</html>