<%- include('../partials/_header') %>
    <title>Watchlist</title>
</head>
<body>
    <a href="/">Home</a>
    <% if (!activeWatchlist) { %>
    <h1>Watchlist</h1>
    <a href="/watchlist/new" class="button is-light is-link">+ Create watchlist</a>
    <% } %>

    <% if (watchlists) { %>
    <h2>Overview</h2>
    <% watchlists.forEach(list => { %>
        <p><a href="/watchlist?id=<%= list._id %>"><%= list.name %></a></p>
    <% }); %>
    <% } %>

    <% if (activeWatchlist) { %>
    <p><a href="/watchlist">Back to Watchlists</a></p>
    <h1><%= activeWatchlist.name %></h1>
    <div>
        <a href="/watchlist?id=<%= activeWatchlist._id %>&edit=true">edit</a>
        <a href="/watchlist/<%= activeWatchlist._id %>/remove">remove</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Day Change</th>
                <th>Day Change %</th>
            </tr>
        </thead>
        <tbody>
        <% activeWatchlist.stocks.forEach((stock) => { %>
            <tr>
                <td><a href="/stock/<%= stock.symbol %>"><%= stock.symbol %></a></td>
                <td><%= stock.price %></td>
                <td><%= (stock.change).toFixed(2) %></td>
                <td><%= (stock.changePercentage).toFixed(2) %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <% } %>

    <% if (stocks) { %>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Day Change</th>
                <th>Day Change %</th>
            </tr>
        </thead>
        <tbody>
        <% stocks.forEach((stock) => { %>
            <tr>
                <td><a href="/stock/<%= stock.symbol %>"><%= stock.symbol %></a></td>
                <td><%= (stock.price).toFixed(2) %></td>
                <td><%= (stock.change).toFixed(2) %></td>
                <td><%= (stock.changePercentage).toFixed(2) %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <% } %>

    <% if (!stocks && !activeWatchlist) { %>
    <p><a href="/search">Search</a> for stocks and add to your watchlist(s).</p>
    <% } %>
</body>
</html>