<%- include('../partials/_header') %>
    <title>Watchlist</title>
</head>
<body>
    <%- include('../partials/_navbar') %>
    <p class="ml-5 mr-5 mt-3 mb-3"><a href="/watchlist?id=<%= watchlist._id %>">Back to Watchlist</a></p>
    <div class="ml-5 mr-5">
        <h1 class="is-size-3">Remove Watchlist</h1>
        <p>Are you sure you want to remove <strong><%= watchlist.name %></strong>?</p>
        <p>This will delete the watchlist and any stocks you have on it.

        <form action="/watchlist/<%= watchlist._id %>?_method=DELETE" method="POST" class="mt-4 mb-3">
            <button type="submit" class="button is-light is-danger">Delete <%= watchlist.name %></button>
        </form>
    </div>
</body>
</html>