<%- include('partials/_header') %>
    <title>moneymoo</title>
</head>
<body>
  <% if (user) { %>
    <%- include('partials/_navbar') %>
    <h1 class="is-size-2 has-text-centered mt-6 mb-4">Welcome back, <%= user.username %></h1>
    <div class="is-flex is-flex-direction-row is-justify-content-center is-gap-2 is-flex-wrap-wrap">
      <div class="box has-text-centered m-3 is-flex is-flex-direction-column is-gap-1 is-align-items-center">
        <p class="is-size-4 mb-2" style="min-width: 345px;">Portfolios</p>
        <% if (portfolios.length > 0) { %>
          <table class="table">
            <tbody>
            <% portfolios.forEach(portfolio => { %>
              <tr>
                <td><a href="/portfolio?id=<%= portfolio._id %>"><%= portfolio.name %></a></td>
                <td>$<%= Number(portfolio.totalValue.toFixed(2)).toLocaleString(); %></td>
              </tr>
            <% }); %>
            </tbody>
          </table>
        <% } %>
      <div class="ml-2 mr-2 mb-2 is-flex is-flex-direction-column is-gap-1">
        <p><a href="/portfolio" class="button is-link is-outlined">Go to Portfolios</a></p>
        <p><a href="/portfolio/new" class="button is-link mt-1">+ New Portfolio</a></p>
      </div>
      </div>

      <div class="box has-text-centered m-3 is-flex is-flex-direction-column is-gap-1 is-align-items-center">
        <p class="is-size-4 mb-2" style="min-width: 345px;">Watchlists</p>
        <% if (watchlists.length > 0) { %>
          <table class="table">
            <tbody>
            <% watchlists.forEach(watchlist => { %>
              <tr>
                <td><a href="/watchlist?id=<%= watchlist._id %>"><%= watchlist.name %></a></td>
              </tr>
            <% }); %>
            </tbody>
          </table>
        <% } %>
        <div class="ml-2 mr-2 mb-2 is-flex is-flex-direction-column is-gap-1">
          <p><a href="/watchlist" class="button is-link is-outlined">Go to Watchlists</a></p>
          <p><a href="/watchlist/new" class="button is-link mt-1">+ New Watchlist</a></p>
        </div>
      </div>
    </div>

  <% } else { %>
    <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center is-max-tablet is-gap-1">
      <div class="mt-5">
        <img src="/img/moneymoo-logo.png" alt="moneymoo logo" class="mb-3 mt-6" style="max-width: 280px;"/>
      </div>
      <p class="is-size-4 mb-1 has-text-centered">Let's start milking your gains</p>
      <div class="mt-4 is-flex is-flex-direction-row is-justify-content-center is-gap-2">
        <a href="/auth/sign-up" class="button is-link is-outlined">Create Account</a>
        <a href="/auth/sign-in" class="button is-link">Log In</a>
      </div>
      <form action="/search" method="POST" class="mt-6 is-justify-content-center p-5 is-gap-2 is-flex is-flex-direction-row box is-align-items-center">
          <label for="symbol" class="label is-size-6 mb-0">Ticker</label>
          <input type="text" name="symbol" id="symbol" class="input is-normal" required placeholder="GOOG"/>
          <button type="submit" class="button is-link">Search</button>
      </form>
      <p class="mt-4"><a href="/browse?view=top-movers">Browse</a> the market for top movers and most active stocks.</p>
    </div>
  <% } %>
</body>
</html>