<%- include('../partials/_header') %>
    <title><%= stock.symbol %></title>
</head>
<body>
    <a href="/">Home</a>
    <h1><%= stock.symbol %></h1>
    <h1>$<%= stock.price %></h1>
    <h2><%= stock.companyName %></h2>

    <a href="/watchlist/add?symbol=<%= stock.symbol %>">+ Add to Watchlist</a>

    <h3>Stock Details</h3>
    <p>Market Cap: <%= stock.marketCap %></p>
    <p>Day Change: <%= stock.change %> (<%= (stock.changePercentage).toFixed(2) %>%)</p>
    <p>Volume: <%= stock.volume %></p>
    <p>Average Volume: <%= stock.averageVolume %></p>
    <p>Price Range: <%= stock.range %></p>

    <h3>Company Profile</h3>
    <img src="<%= stock.image %>" alt="logo for <%= stock.symbol %>"/>
    <%- stock.website ? `<p>Website: <a href="${stock.website}">${stock.website}</a></p>` : null %>
    <p><%= stock.description %></p>
    <p>Exchange: <%= stock.exchange %></p>
    <p>Country: <%= stock.country %></p>
    <p>Sector: <%= stock.sector %></p>
    <p>Industry: <%= stock.industry %></p>
    <%- stock.ceo ? `<p>CEO: ${stock.ceo}</p>` : null %>
    <%- stock.isEtf ? '<p>* Exchange-Traded Fund</p>' : null %>
    <%- stock.isFund ? '<p>* Index Fund</p>' : null %>

    <% if (financials) { %>
    <h3>Financial Overview</h3>
    <%- financials['52WeekHigh'] && `<p>52 Week High: ${financials['52WeekHigh']}</p>` %>
    <%- financials['52WeekHighDate'] && `<p>52 Week High Date: ${financials['52WeekHighDate']}</p>` %>
    <%- financials['52WeekLow'] && `<p>52 Week Low: ${financials['52WeekLow']}</p>` %>
    <%- financials['52WeekLowDate'] && `<p>52 Week Low Date: ${financials['52WeekLowDate']}</p>` %>
    <%- financials['10DayAverageTradingVolume'] && `<p>10Day Avg Trading Volume: ${financials['10DayAverageTradingVolume']}</p>` %>
    <%- financials.yearToDatePriceReturnDaily && `<p>YTD Price Return Daily: ${financials.yearToDatePriceReturnDaily}</p>` %>
    <%- financials.monthToDatePriceReturnDaily && `<p>MTD Price Return Daily: ${financials.monthToDatePriceReturnDaily}</p>` %>

    <% if (financials.currentRatioAnnual || financials.currentRatioQuarterly || financials.peTTM) { %>
    <h3>Price-to-Earnings</h3>
    <% } %>
    <%- financials.currentRatioAnnual && `<p>Annual Ratio: ${financials.currentRatioAnnual}</p>` %>
    <%- financials.currentRatioQuarterly && `<p>Quarterly Ratio: ${financials.currentRatioQuarterly}</p>` %>
    <%- financials.peTTM && `<p>TTM: ${financials.peTTM}</p>` %>

    <% if (financials.epsAnnual) { %>
    <h3>Earnings Per Share</h3>
    <% } %>
    <%- financials.epsAnnual && `<p>Annual: ${financials.epsAnnual}</p>` %>
    <%- financials.epsGrowth3Y && `<p>3Y Growth: ${financials.epsGrowth3Y}</p>` %>
    <%- financials.epsGrowth5Y && `<p>5Y Growth: ${financials.epsGrowth5Y}</p>` %>
    <%- financials.epsGrowthQuarterlyYoy && `<p>Quarterly YOY Growth: ${financials.epsGrowthQuarterlyYoy}</p>` %>

    <% if (financials.pb) { %>
    <h3>Price-to-Book</h3>
    <% } %>
    <%- financials.pb && `<p>Ratio: ${financials.pb}</p>` %>
    <%- financials.pbAnnual && `<p>Annual Ratio: ${financials.pbAnnual}</p>` %>
    <%- financials.pbQuarterly && `<p>Quarterly Ratio: ${financials.pbQuarterly}</p>` %>

    <% if (financials.revenuePerShareAnnual || financials.revenuePerShareTTM) { %>
    <h3>Revenue</h3>
    <% } %>
    <%- financials.revenueGrowth3Y && `<p>3Y Growth: ${financials.revenueGrowth3Y}</p>` %>
    <%- financials.revenueGrowth5Y && `<p>5Y Growth: ${financials.revenueGrowth5Y}</p>` %>
    <%- financials.revenueGrowthQuarterlyYoy && `<p>Quarterly YOY: ${financials.revenueGrowthQuarterlyYoy}</p>` %>
    <%- financials.revenuePerShareAnnual && `<p>Annual Per Share: ${financials.revenuePerShareAnnual}</p>` %>
    <%- financials.revenuePerShareTTM && `<p>TTM Per Share: ${financials.revenuePerShareTTM}</p>` %>
    <%- financials.revenueShareGrowth5Y && `<p>5Y Share Growth: ${financials.revenueShareGrowth5Y}</p>` %>
   
    <% if (financials.cashFlowPerShareTTM || financials.cashFlowPerShareQuarterly || financials.cashFlowPerShareAnnual) { %>
    <h3>Cash Flow</h3>
    <% } %>
    <%- financials.cashFlowPerShareTTM && `<p>TTM Per Share: ${financials.cashFlowPerShareTTM}</p>` %>
    <%- financials.cashFlowPerShareAnnual && `<p>Annual Per Share: ${financials.cashFlowPerShareAnnual}</p>` %>
    <%- financials.cashFlowPerShareQuarterly && `<p>Quarterly Per Share: ${financials.cashFlowPerShareQuarterly}</p>` %>
    <% } %>
</body>
</html>