<%- include('../partials/_header') %>
    <title>Portfolio</title>
</head>
<body>
    <%- include('../partials/_navbar') %>
    <% if (!activePortfolio) { %>
    <h1 class="is-size-3">My Portfolios</h1>
    <a href="/portfolio/new" class="button is-link">+ Create portfolio</a>
    <% } %>

    <% if (portfolios) { %>
    <section>
        <h2 class="is-size-4">Overview</h2>
        <h2 class="is-size-3">$<%= portfoliosSumValue.toFixed(2) %></h2>
        <% portfolios.forEach(p => { %>
            <p><a href="/portfolio?id=<%= p._id %>"><%= p.name %></a> - $<%= (p.totalValue).toFixed(2) %></p>
        <% }); %>
    </section>
    <% } %>

    <% if (userStocks) { %>
    <section class="section">
        <h2 class="is-size-4">All Positions</h2>
        <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Asset</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Mkt Value</th>
                <th>Cost Basis</th>
                <th>Cost/Share</th>
                <th>Gain/Loss $</th>
                <th>Gain/Loss %</th>
            </tr>
        </thead>
        <tbody>
        <% userStocks.forEach((userStock) => { %>
            <tr>
                <td><a href="/stock/<%= userStock.stock.symbol %>"><%= userStock.stock.symbol %></a></td>
                <td><%= userStock.quantity %></td>
                <td>$<%= (userStock.stock.price).toFixed(2) %></td>
                <td>$<%= userStock.marketValue %></td>
                <td>$<%= (userStock.totalCost).toFixed(2) %></td>
                <td>$<%= (userStock.costBasis).toFixed(2) %></td>
                <td><%= userStock.unrealizedPL %></td>
                <td><%= userStock.unrealizedPLPercent %></td>
            </tr>
        <% }) %>
        </tbody>
        </table>
    </section>
    <% } %>

    <% if (activePortfolio) { %>
    <p><a href="/portfolio">Back to Overview</a></p>
    <% if (activePortfolio.edit) { %>
        <form action="/portfolio/<%= activePortfolio._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= activePortfolio.name %>" class="input is-normal" />
            <button type="submit" class="button is-light is-link">update</button>
        </form>
    <% } else { %>
        <h1 class="is-size-3"><%= activePortfolio.name %></h1>
    <% } %>
    <div>
        <a href="/portfolio?id=<%= activePortfolio._id %>&edit=true">edit</a>
        <a href="/portfolio/<%= activePortfolio._id %>/remove">remove</a>
    </div>
    <h3 class="is-size-5">Total Portfolio Value</h3>
    <h2 class="is-size-4">$<%= (activePortfolio.totalValue).toFixed(2) %></h2>
    <p><a href="/portfolio/<%= activePortfolio._id %>/trades">View Trades</a></p>
    
    <section class="section">
        <h3 class="is-size-4">Positions</h3>
        <!-- TODO-ST: Add a Portfolio Total Row for sums -->
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Asset</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Mkt Value</th>
                    <th>Cost Basis</th>
                    <th>Cost/Share</th>
                    <th>Gain/Loss $</th>
                    <th>Gain/Loss %</th>
                </tr>
            </thead>
            <tbody>
            <% activePortfolio.userStocks.forEach((userStock) => { %>
                <tr>
                    <td><a href="/stock/<%= userStock.stock.symbol %>"><%= userStock.stock.symbol %></a></td>
                    <td><%= userStock.quantity %></td>
                    <td>$<%= (userStock.stock.price).toFixed(2) %></td>
                    <td>$<%= userStock.marketValue %></td>
                    <td>$<%= (userStock.totalCost).toFixed(2) %></td>
                    <td>$<%= (userStock.costBasis).toFixed(2) %></td>
                    <td><%= userStock.unrealizedPL %></td>
                    <td><%= userStock.unrealizedPLPercent %></td>
                    <% if (activePortfolio.edit) {%>
                    <td><a href="/portfolio/<%= activePortfolio._id %>/remove?id=<%= userStock._id %>" class="button is-danger">remove</a></td>
                    <% } %>
                </tr>
            <% }) %>
            </tbody>
            <tfoot>
                <tr>
                    <th>Summary</th>
                    <th>[Qt]</th>
                    <th>[Price]</th>
                    <th>[MktValue]</th>
                    <th>[CostBasis]</th>
                    <th>[AvgCost]</th>
                    <th>[GainLoss]$</th>
                    <th>[GainLoss]%</th>
                </tr>
            </tfoot>
        </table>
        <p><a href="/portfolio/<%= activePortfolio._id %>/trades/new" class="button is-link">+ Add Trade</a></p>
    </section>
    <% } %>
</body>
</html>