<%- include('../partials/_header') %>
    <title>Portfolio</title>
</head>
<body>
    <% if (!activePortfolio) { %>
    <a href="/">Home</a>
    <h1>My Portfolio</h1>
    <a href="/portfolio/new">+ Create portfolio</a>
    <% } %>

    <% if (portfolios) { %>
    <h2>overview</h2>
        <h2>$<%= portfoliosSumValue.toFixed(2) %></h2>
        <% portfolios.forEach(p => { %>
          <p><a href="/portfolio?id=<%= p._id %>"><%= p.name %></a> - $<%= (p.totalValue).toFixed(2) %></p>
        <% }); %>
    <% } %>

    <% if (activePortfolio) { %>
        <p><a href="/portfolio">Back to Overview</a></p>
        <% if (activePortfolio.edit) { %>
            <form action="/portfolio/<%= activePortfolio._id %>?_method=PUT" method="POST">
                <input type="text" name="name" value="<%= activePortfolio.name %>" />
                <button type="submit">update</button>
            </form>
        <% } else { %>
            <h1><%= activePortfolio.name %></h1>
        <% } %>
        <div>
            <a href="/portfolio?id=<%= activePortfolio._id %>&edit=true">edit</a>
            <a href="/portfolio?id=<%= activePortfolio._id %>&remove=true">remove</a>
        </div>
        <h2>total: $<%= (activePortfolio.totalValue).toFixed(2) %></h2>
        <h3>holdings</h3>
        <p><a href="/portfolio/<%= activePortfolio._id %>/trades">View Trades</a></p>

        <% activePortfolio.userStocks.forEach((userStock) => { %>
            <div class="user-stocks-div">
                <h4><%= userStock.stock.symbol %> (<%= userStock.stock.companyName %>)</h4>
                <p>shares: <%= userStock.quantity %></p>
                <p>cost basis per share: $<%= (userStock.costBasis).toFixed(2) %></p>
                <p>total cost: $<%= (userStock.totalCost).toFixed(2) %></p>
                <p>current price per share: $<%= userStock.stock.price %></p>
                <p>current value: $<%= userStock.currentValue %></p>
                <p>unrealized P/L: $<%= userStock.unrealizedPL %> (<%= userStock.unrealizedPLPercent %>%)</p>
            </div>
        <% }) %>

        <p><a href="/portfolio/<%= activePortfolio._id %>/trades/new">+ Add Trade</a></p>
    <% } %>
</body>
</html>